In [1]:
%load_ext sql
%sql mysql+mysqlconnector://blackbasil:Naveen%402193@localhost/de_project

In [2]:
%%sql
create table events (
    event_id int auto_increment primary key,
    event_name varchar(100),
    event_date datetime,
    created_at timestamp default current_timestamp
)

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.

[]

In [3]:
%%sql
INSERT INTO events (event_name, event_date) VALUES 
('Tech Conference', '2025-07-10'),
('Music Festival', '2025-08-05'),
('Art Exhibition', '2025-09-15'),
('Job Fair', '2025-07-20'),
('Science Expo', '2025-10-01');

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[]

In [4]:
%%sql

select * from events;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, 'Tech Conference', datetime.datetime(2025, 7, 10, 0, 0), datetime.datetime(2025, 6, 25, 1, 13, 11)),
 (2, 'Music Festival', datetime.datetime(2025, 8, 5, 0, 0), datetime.datetime(2025, 6, 25, 1, 13, 11)),
 (3, 'Art Exhibition', datetime.datetime(2025, 9, 15, 0, 0), datetime.datetime(2025, 6, 25, 1, 13, 11)),
 (4, 'Job Fair', datetime.datetime(2025, 7, 20, 0, 0), datetime.datetime(2025, 6, 25, 1, 13, 11)),
 (5, 'Science Expo', datetime.datetime(2025, 10, 1, 0, 0), datetime.datetime(2025, 6, 25, 1, 13, 11))]

In [7]:
%%sql
select event_id, event_name, day(event_date) as event_year from events;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, 'Tech Conference', 10),
 (2, 'Music Festival', 5),
 (3, 'Art Exhibition', 15),
 (4, 'Job Fair', 20),
 (5, 'Science Expo', 1)]

In [10]:
%%sql
select event_id,event_name,event_date, event_date + INTERVAL 30 DAY AS date_plus from events;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, 'Tech Conference', datetime.datetime(2025, 7, 10, 0, 0), datetime.datetime(2025, 8, 9, 0, 0)),
 (2, 'Music Festival', datetime.datetime(2025, 8, 5, 0, 0), datetime.datetime(2025, 9, 4, 0, 0)),
 (3, 'Art Exhibition', datetime.datetime(2025, 9, 15, 0, 0), datetime.datetime(2025, 10, 15, 0, 0)),
 (4, 'Job Fair', datetime.datetime(2025, 7, 20, 0, 0), datetime.datetime(2025, 8, 19, 0, 0)),
 (5, 'Science Expo', datetime.datetime(2025, 10, 1, 0, 0), datetime.datetime(2025, 10, 31, 0, 0))]

In [12]:
%%sql
select event_id,event_name,DATE_FORMAT(event_date,'%W %M %e %Y') as formatted_date from events;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, 'Tech Conference', 'Thursday July 10 2025'),
 (2, 'Music Festival', 'Tuesday August 5 2025'),
 (3, 'Art Exhibition', 'Monday September 15 2025'),
 (4, 'Job Fair', 'Sunday July 20 2025'),
 (5, 'Science Expo', 'Wednesday October 1 2025')]

In [13]:
%%sql
select event_id,event_name,DATE_FORMAT(event_date,'%h %i %p') as formatted_date from events;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, 'Tech Conference', '12 00 AM'),
 (2, 'Music Festival', '12 00 AM'),
 (3, 'Art Exhibition', '12 00 AM'),
 (4, 'Job Fair', '12 00 AM'),
 (5, 'Science Expo', '12 00 AM')]