In [1]:
%load_ext sql
%sql mysql+mysqlconnector://blackbasil:Naveen%402193@localhost/de_project

In [5]:
%%sql
drop table if exists customers;
CREATE TABLE customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    city VARCHAR(50) NOT NULL
);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql

CREATE TABLE customers1 (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    city VARCHAR(50) NOT NULL
);

INSERT INTO customers1 (first_name, last_name, email, city)
VALUES ('Alice', 'Johnson', 'alice.johnson@example.com', 'New York');

INSERT INTO customers1 (first_name, last_name, email, city)
VALUES ('Bob', 'Smith', 'bob.smith@example.com', 'Los Angeles');

INSERT INTO customers1 (first_name, last_name, email, city)
VALUES ('Charlie', 'Brown', 'charlie.brown@example.com', 'Chicago');

INSERT INTO customers1 (first_name, last_name, email, city)
VALUES ('Diana', 'Williams', 'diana.williams@example.com', 'Houston');

INSERT INTO customers1 (first_name, last_name, email, city)
VALUES ('Ethan', 'Davis', 'ethan.davis@example.com', 'Phoenix');

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
create index idx_email on customers(email);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.

[]

In [7]:
%%sql
INSERT INTO customers (first_name, last_name, email, city)
VALUES ('Alice', 'Johnson', 'alice.johnson@example.com', 'New York');

INSERT INTO customers (first_name, last_name, email, city)
VALUES ('Bob', 'Smith', 'bob.smith@example.com', 'Los Angeles');

INSERT INTO customers (first_name, last_name, email, city)
VALUES ('Charlie', 'Brown', 'charlie.brown@example.com', 'Chicago');

INSERT INTO customers (first_name, last_name, email, city)
VALUES ('Diana', 'Williams', 'diana.williams@example.com', 'Houston');

INSERT INTO customers (first_name, last_name, email, city)
VALUES ('Ethan', 'Davis', 'ethan.davis@example.com', 'Phoenix');

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [8]:
%%sql
select * from customers where email="john@example.com";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.

[]

In [9]:
%%sql
explain
select *
from customers
where email = "john@example.com";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[(1, 'SIMPLE', 'customers', None, 'ref', 'idx_email', 'idx_email', '402', 'const', 1, 100.0, None)]

In [10]:
%%sql
explain analyze select * 
from customers
where email = "john@example.com";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[("-> Index lookup on customers using idx_email (email='john@example.com')  (cost=0.35 rows=1) (actual time=0.0386..0.0386 rows=0 loops=1)\n",)]

In [12]:
%%sql
explain analyze
select * 
from customers1

where email="john@example.com";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[("-> Filter: (customers1.email = 'john@example.com')  (cost=0.75 rows=1) (actual time=22.6..22.6 rows=0 loops=1)\n    -> Table scan on customers1  (cost=0.75 rows=5) (actual time=0.0491..0.0688 rows=5 loops=1)\n",)]

In [13]:
%%sql

explain format=json
select *
from customers1
where email="john@example.com";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.75"\n    },\n    "table": {\n      "table_name": "customers1", ... (385 characters truncated) ... \n        "email",\n        "city"\n      ],\n      "attached_condition": "(`de_project`.`customers1`.`email` = \'john@example.com\')"\n    }\n  }\n}',)]