In [2]:
%load_ext sql
%sql mysql+mysqlconnector://blackbasil:Naveen%402193@localhost/de_project

In [14]:
%%sql
DROP TABLE IF EXISTS orders;

CREATE TABLE orders (
    order_id INT AUTO_INCREMENT,
    order_date DATE NOT NULL,
    order_year INT NOT NULL,
    customer_name VARCHAR(50),
    amount DECIMAL(10,2),
    PRIMARY KEY(order_id, order_year)
)
PARTITION BY RANGE (order_year) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020        VALUES LESS THAN (2021),
    PARTITION p_2021        VALUES LESS THAN (2022),
    PARTITION p_2022        VALUES LESS THAN (2023),
    PARTITION p_future      VALUES LESS THAN MAXVALUE
);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql

INSERT INTO orders (order_date, order_year, customer_name, amount)
VALUES ('2019-11-20', 2019, 'Alice Johnson', 250.00);

INSERT INTO orders (order_date, order_year, customer_name, amount)
VALUES ('2020-03-15', 2020, 'Bob Smith', 180.50);

INSERT INTO orders (order_date, order_year, customer_name, amount)
VALUES ('2021-07-10', 2021, 'Charlie Brown', 300.00);

INSERT INTO orders (order_date, order_year, customer_name, amount)
VALUES ('2022-12-01', 2022, 'Diana Prince', 120.75);

INSERT INTO orders (order_date, order_year, customer_name, amount)
VALUES ('2024-05-22', 2024, 'Ethan Hunt', 410.00);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql
select * from orders;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[(1, datetime.date(2019, 11, 20), 2019, 'Alice Johnson', Decimal('250.00')),
 (2, datetime.date(2020, 3, 15), 2020, 'Bob Smith', Decimal('180.50')),
 (3, datetime.date(2021, 7, 10), 2021, 'Charlie Brown', Decimal('300.00')),
 (4, datetime.date(2022, 12, 1), 2022, 'Diana Prince', Decimal('120.75')),
 (5, datetime.date(2024, 5, 22), 2024, 'Ethan Hunt', Decimal('410.00'))]

In [18]:
%%sql
select
    PARTITION_NAME,
    PARTITION_METHOD,
    PARTITION_EXPRESSION,
    SUBPARTITION_METHOD,
    SUBPARTITION_EXPRESSION
FROM information_schema.PARTITIONS
where TABLE_SCHEMA = "de_project"
AND TABLE_NAME = "orders";

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[('p_future', 'RANGE', '`order_year`', None, None),
 ('p_2022', 'RANGE', '`order_year`', None, None),
 ('p_2021', 'RANGE', '`order_year`', None, None),
 ('p_2020', 'RANGE', '`order_year`', None, None),
 ('p_before_2020', 'RANGE', '`order_year`', None, None)]

In [20]:
%%sql

show create table orders;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[('orders', 'CREATE TABLE `orders` (\n  `order_id` int NOT NULL AUTO_INCREMENT,\n  `order_date` date NOT NULL,\n  `order_year` int NOT NULL,\n  `customer_name` va ... (398 characters truncated) ... 2022) ENGINE = InnoDB,\n PARTITION p_2022 VALUES LESS THAN (2023) ENGINE = InnoDB,\n PARTITION p_future VALUES LESS THAN MAXVALUE ENGINE = InnoDB) */')]

In [22]:
%%sql
select * from orders where order_year=2020;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[(2, datetime.date(2020, 3, 15), 2020, 'Bob Smith', Decimal('180.50'))]

In [24]:
%%sql
explain format=json
select * from orders where order_year=2020

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (425 characters truncated) ... ear",\n        "customer_name",\n        "amount"\n      ],\n      "attached_condition": "(`de_project`.`orders`.`order_year` = 2020)"\n    }\n  }\n}',)]

In [33]:
%%sql
DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    PRIMARY KEY(employee_id, department)
)
PARTITION BY LIST COLUMNS (department) (
    PARTITION p_sales VALUES IN ('Sales'),
    PARTITION p_hr VALUES IN ('HR'),
    PARTITION p_engineering VALUES IN ('Engineering', 'Devops'),
    PARTITION p_other VALUES IN ('Finance', 'Marketing', 'Operations')
);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
0 rows affected.

[]

In [35]:
%%sql
insert into employees (first_name,last_name,department)
values
('Alice','Smith','Sales'),
('Bob','Johnson','HR'),
('Charlie','Lee','Engineering'),
('Diana','Lopez','DevOps'),
('Eve','Turner','Marketing');

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
5 rows affected.

[]

In [36]:
%%sql

select * from employees where department='Sales';

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[(1, 'Alice', 'Smith', 'Sales')]

In [37]:
%%sql
explain format=json
select * from employees where department='Sales';

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "employees",\ ... (417 characters truncated) ...        "last_name",\n        "department"\n      ],\n      "attached_condition": "(`de_project`.`employees`.`department` = \'Sales\')"\n    }\n  }\n}',)]

In [39]:
%%sql
drop table if exists sensor_data;

create table sensor_data(
    sensor_id INT NOT NULL,
    reading_time DATETIME NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)

PARTITION BY HASH(sensor_id)
PARTITIONS 2;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
0 rows affected.

[]

In [40]:
%%sql

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES (1, '2025-06-25 08:15:00', 23.45);

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES (1, '2025-06-25 08:30:00', 24.10);

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES (2, '2025-06-25 08:20:00', 19.80);

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES (3, '2025-06-25 08:45:00', 27.55);

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES (2, '2025-06-25 08:40:00', 20.25);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [41]:
%%sql

select * from sensor_data where sensor_id=3;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
1 rows affected.

[(3, datetime.datetime(2025, 6, 25, 8, 45), Decimal('27.55'))]