In [1]:
%load_ext sql
%sql mysql+mysqlconnector://blackbasil:Naveen%402193@localhost/de_project

In [2]:
%%sql

create table accounts ( 
    AccountID INT PRIMARY KEY,
    AccountHolder VARCHAR(100),
    Balance DECIMAL(10,2)
);

insert into accounts(AccountID,AccountHolder,Balance)
values(1,'Alice',5000);

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
1 rows affected.

[]

In [ ]:
%%sql

start transaction;

update accounts set balance  = balance - 1000 where accountID = 1;
select * from accounts;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [16]:
%%sql
rollback;
select * from accounts;

 * mysql+mysqlconnector://blackbasil:***@localhost/de_project
0 rows affected.
1 rows affected.

[(1, 'Alice', Decimal('1000.00'))]